{% if include.title %}
  <h2>{{ include.title }}</h2>
{% endif %}

<div class="cta-wrapper">
  {% if include.text %}
    <p class="cta-text">{{ include.text }}</p>
  {% endif %}
  
  {% if include.url and include.button_text %}
    {% if include.align == "center" %}
    <center>
    {% endif %}
    <a href="{{ include.url }}" class="btn btn--primary">{{ include.button_text }}</a>
    {% if include.align == "center" %}
    </center>
    {% endif %}
  {% endif %}
</div>

<style>
  .cta-wrapper {
    margin: 1em 0;
    border-radius: 4px;
  }

  .cta-text {
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
</style>
