{% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}

{% if page.header.overlay_filter contains "gradient" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% elsif page.header.overlay_filter contains "rgba" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% elsif page.header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ page.header.overlay_filter }}){% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% endif %}

{% if page.header.image_description %}
  {% assign image_description = page.header.image_description %}
{% else %}
  {% assign image_description = page.title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}

<div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %} {% if page.header.align == 'center' %}align-center{% endif %}"
  style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %}"
>
  {% if page.header.overlay_color or page.header.overlay_image %}
    <div class="wrapper">
        <div class="container flex-grid flex-grid-40-60 page__hero-flex-grid {% if overlay_img_path %}" style="background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}');{% endif %}">
            <div class="content col page__hero-flex-grid-left">
            {% if page.header.logo_path %}
                <img src="{{ page.header.logo_path | relative_url }}" alt="{{ page.title }}" class="page__hero-logo" style="width: 200px;">
            {% endif %}
            <h1 id="page-title" class="page__title {% if page.header.hide_title %}hide{% endif %}" itemprop="headline">
                {% if page.header.typewriter %}
                    <span class="typewriter"></span>
                {% else %}
                    {% if paginator and site.paginate_show_page_num %}
                    {{ site.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
                    {% else %}
                    {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
                    {% endif %}
                {% endif %}
            </h1>
            {% if page.tagline %}
            <p class="page__lead {% if page.header.align == 'center' %}align-center{% endif %}">{{ page.tagline | markdownify | remove: "<p>" | remove: "</p>" }}</p>
            {% elsif page.header.show_overlay_excerpt != false and page.excerpt %}
                <p class="page__lead {% if page.header.align == 'center' %}align-center{% endif %}">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
            {% endif %}
            {% include page__meta.html %}
            {% if page.header.actions %}
                <p class="{% if page.header.align == 'center' %}align-center{% endif %}">
                {% for action in page.header.actions %}
                <a href="{{ action.url | relative_url }}" class="btn btn--primary">{{ action.label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
                {% endfor %}
                </p>
            {% endif %}
            </div>
            <div class="content col-small no-padding page__hero-flex-grid-right page__hero-image-container">
                {% if page.header.image %}
                    <img src="{{ page.header.image | relative_url }}" alt="{{ image_description }}" class="page__hero-image">
                {% endif %}
            </div>
        </div>
      {% else %}
      {% if page.header.logo_path %}
        <img src="{{ page.header.logo_path | relative_url }}" alt="{{ page.title }}" class="page__hero-logo" style="width: 200px;">
      {% endif %}
      <h1 id="page-title" class="page__title {% if page.header.hide_title %}hide{% endif %}" itemprop="headline">
        {% if paginator and site.paginate_show_page_num %}
          {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
        {% else %}
          {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {% endif %}
      </h1>
        {% if page.tagline %}
            <p class="page__lead {% if page.header.align == 'center' %}align-center{% endif %}">{{ page.tagline | markdownify | remove: "<p>" | remove: "</p>" }}</p>
        {% elsif page.header.show_overlay_excerpt != false and page.excerpt %}
            <p class="page__lead {% if page.header.align == 'center' %}align-center{% endif %}">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
        {% endif %}
        {% include page__meta.html %}
        {% if page.header.actions %}
            <p class="{% if page.header.align == 'center' %}align-center{% endif %}">
            {% for action in page.header.actions %}
            <a href="{{ action.url | relative_url }}" class="btn btn--primary">{{ action.label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
            {% endfor %}
            </p>
        {% endif %}
    {% else %}
        <img src="{{ page.header.image | relative_url }}" alt="{{ image_description }}" class="page__hero-image">
    {% endif %}
    {% if page.header.caption %}
        <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
    {% endif %}
  </div>
</div>
