<div class="section {% if include.section_class %} {{ include.section_class }} {% endif %}">
    {% if include.title %}
    <div class="content">
      <h2 {% if include.title_class %}class="{{ include.title_class }}"{% endif %}>{{ include.title }}</h2>
    </div>
    {% endif %}
    <div class="container flex-grid">
        <div class="content col">
            {{ include.left_content | markdownify }}
        </div>
        <div class="content col">
          {{ include.right_content | markdownify }}
        </div>
    </div>
</div>
