<div class="section {% if include.section_class %} {{ include.section_class }} {% endif %}">
    <div class="container flex-grid">
        <div class="content col">
            {% if include.title %}
                <h2 {% if include.title_class %}class="{{ include.title_class }}"{% endif %}>{{ include.title }}</h2>
            {% endif %}
            {% if include.callout_text %}
                <p class="callout">{{ include.callout_text }}</p>
            {% endif %}
            {{ include.main_content | markdownify }}
        </div>
        <div class="content col">
        <p>
            <img src="{{ include.image_path }}" alt="">
            {% if include.image_cta_url and include.image_cta_button_text %}
            <div class="image-cta-wrapper">
                <a href="{{ include.image_cta_url }}" class="btn btn--primary">{{ include.image_cta_button_text }}</a>
            </div>
          {% endif %}
        </p>
        </div>
    </div>
</div>
