{% if include.list_id %}
  {% assign list = page[include.list_id] %}
{% endif %}

<div class="section {% if include.section_class %} {{ include.section_class }} {% endif %}">
    <div class="container">
        <div class="content {% if include.large %}large{% endif %} {% if include.condensed %}condensed{% endif %} {% if include.no_underline %}no-underline{% endif %} {% if include.align == 'center' %}align-center{% endif %}" >
          {% if include.title %}
            <h2 {% if include.title_class %}class="{{ include.title_class }}"{% endif %}>{{ include.title }}</h2>
          {% endif %}
          {% if include.callout_text %}
            <p class="callout">{{ include.callout_text }}</p>
          {% endif %}
          {{ include.main_content | markdownify }}
          {% if include.image_path %}
            <img src="{{ include.image_path }}" alt="{{ include.title }}" class="image">
          {% endif %}
          {% if include.video_id %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {% endif %}
          {% if include.link %}
            <a href="{{ include.link }}" class="btn btn--link">{{ include.link_text }}</a>
          {% endif %}
          {% if list %}
            {% if include.list_intro %}
            <p>{{ include.list_intro | markdownify }}</p>
            {% endif %}
            <ul>
              {% for item in list %}
                <li>{{ item | markdownify }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if include.post_fix_text %}
            <p>{{ include.post_fix_text | markdownify }}</p>
          {% endif %}
        </div>
        {% if include.url and include.button_text %}
        <div class="section-cta-wrapper">
            {% if include.url and include.button_text %}
            <a href="{{ include.url }}" class="btn btn--primary" target="{{ include.target }}">{{ include.button_text }}</a>
        {% endif %}
        {% if include.secondary_url and include.secondary_button_text %}
            {{include.secondary_button_prefix}}
            <a href="{{ include.secondary_url }}" class="btn btn--inverse" target="{{ include.secondary_target }}">{{ include.secondary_button_text }}</a>
            {% if include.secondary_postfix_text %}
            {{include.secondary_postfix_text}}
            {% endif %}
        {% endif %}
        </div>
        {% endif %}
    </div>
</div>
