img.author-avatar {
  border-radius: 50%;
}

.author-excerpt {
  font-size: 1.2em;
  font-style: italic;
}

.author-caption {
  font-size: 0.8em;
  font-weight: bold;
}

.profile-photo {
  border-radius: 50%;
}
