.page__content  {
    text-wrap: balance;
    text-wrap: pretty;
}

.page__content blockquote {
    padding: 0 1rem;
    font-style: italic;
    font-weight: lighter;
    border: none;
  }

.page__content blockquote p {
  font-size: 2rem;
  margin: 0;
}

.page__content blockquote footer {
  font-style: normal;
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
}

.page__content blockquote footer cite {
  font-weight: normal;
}


.block-quote-small {
    justify-content: center;    
    font-size: 0.9rem;

  blockquote {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: lighter;
    border: none;
    max-width: 60%;
  }

  blockquote p {
    font-size: 0.9rem;
    margin: 0;
  }

    .block-quote__image {
        max-width: 100px;
        height: auto;
        object-fit: cover;
        object-position: center;

        img {
            border-radius: 50%;
        }
    }
}
