.page__content  {
    text-wrap: balance;
    text-wrap: pretty;
}

.page__content blockquote {
    padding: 0 1rem;
    font-style: italic;
    font-weight: lighter;
    border: none;
  }

.page__content blockquote p {
  font-size: 2rem;
  margin: 0;
}

.page__content blockquote footer {
  font-style: normal;
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
}

.page__content blockquote footer cite {
  font-weight: normal;
}
