.btn {
  font-size: 1rem;
  padding: 0.5em 1.5em;
  font-family: "Monoist", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.9em;
}

.btn.btn--primary {
  background-color: $call-to-action-color;
  color: $call-to-action-color-text-color;
  border-radius: 25px;

  &:hover {
    background-color: darken($call-to-action-color, 10%);
    border: 1px solid darken($call-to-action-color, 10%);
  }
}

.btn.btn--secondary {
    background-color: $secondary-call-to-action-color;
    color: $secondary-call-to-action-color-text-color;
    border-radius: 25px;
  
    &:hover {
      background-color: darken($secondary-call-to-action-color, 10%);
      border: 1px solid darken($secondary-call-to-action-color, 10%);
    }
  }

.btn.btn--link {
  padding: 0;
  background-color: unset;
  color: $call-to-action-color;
}

.btn.btn--inverse {
  background-color: #fff;
  color: $call-to-action-color;  
  border-radius: 25px;

  &:hover {
    background-color: transparent;
    border: 1px solid darken($call-to-action-color, 10%);
    color: darken($call-to-action-color, 10%);
  }
}
