.cta-wrapper {
  margin: 1em 0;
  border-radius: 4px;
}

.cta-wrapper .flex-grid {
  justify-content: center;
  align-items: center;
}


.cta-wrapper .btn.btn--primary {
  background-color: $call-to-action-color;
  color: #fff;
}

.cta-wrapper .btn.btn--inverse {
  background-color: #fff;
  color: $call-to-action-color;
}
