.page__footer {
  min-height: 400px;
  vertical-align: bottom;
  background-color: #fefefe;
  margin-top: 0;
}

.page__footer footer {
    margin-top: 0;
}

.page__footer-container {
    background-image: url("/assets/images/banners/banner_bottom.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3e4a59;
    padding-top: 2em;
}

.page__footer-content {
  margin-bottom: 2rem;
  align-items: flex-end;
}

.page__footer-content .content {
    padding: 0 0.5rem 0 0.5rem;
}

.page__footer .large h2 {
    font-size: 3rem;
}

.page__footer-follow {
    display: block;
    float: right;
    clear: both;
}

.page__footer-logo {
  text-align: center;
}

.page__footer-title {
  font-size: 3rem;
  font-weight: normal;
}

.page__footer-strapline-logo {
  width: 50px;
}

.page__footer-strapline {
  margin-top: 2.5rem;
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
  font-family: "Monoist", sans-serif;
}

.page__footer .footer-nav__visible-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.footer-nav__visible-links li + li {
    border-left: 2px solid #FEFEFE;
}

.page__footer .footer-nav__menu-item {
    display: block;
    list-style-type: none;
    white-space: nowrap;
    font-size: 0.8em;
}

.page__footer form { 
    background-color: transparent;
}

.page__footer .greedy-nav a {
    margin: 0 0.5em;
  }

  .page__footer-follow li {
    @media (min-width: 768px) {
        display: inline-block;
    }
  }

.page__footer-copyright {
    padding: 1em;
}

#site-footer-nav {
    left: 0;

    @media (min-width: 768px) {
        left: -1em;
    }
}
