.page__footer {
  min-height: 400px;
  vertical-align: bottom;
  margin-top: 1rem;
  background-color: #3e4a59;
}

.page__footer-content {
  color: #000;
}

.page__footer-logo {
  text-align: center;
}

.page__footer-strapline-logo {
  width: 50px;
}

.page__footer-strapline {
  text-align: right;
  margin-top: 2.5rem;
  font-size: 1rem;
  padding-right: 2rem;
}
