.page__hero--overlay {
  position: relative;
  margin-bottom: 0;
  padding: 1rem 1em 1em 1em;
}

.page__hero--overlay .wrapper .container {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-size: 1024px;
    min-height: 550px;
  }
}

.page__hero--overlay .page__lead  {
  text-shadow: none;
  font-size: 1rem;
  max-width: 100%;
}

.page__hero--overlay .page__title  {
    margin-top: 0.8em;
    font-size: 3.6rem;
    font-weight: normal;
    text-shadow: none;
    line-height: 1;
}

.page__hero-flex-grid {
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.page__hero-flex-grid-left {
    padding-top: 0em;
}

.page__hero-flex-grid-right {
    padding-left: 2em;
}

.page__hero-image {
  width: 70%;
  height: auto;
}

/* Call to action buttons */
.page__hero--overlay .btn {
    background-color: $primary-color;
    text-shadow: none;
    border-radius: 25px;
    border: none;
    color: #000;
    font-size: 0.7rem;
    font-weight: bold;
    
    &:hover {
        background-color: darken($primary-color, 10%);
        text-shadow: none;
    }
} 


