.page__title {
  line-height: 1.2;
}

.page__content h2 {
  border-bottom: none;
  margin-top: 1rem;
}

.page__content p.fine-print {
    color: #666;
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
}
