.page__hero--overlay {
  position: relative;
  margin-bottom: 0;
  padding: 1rem 1em 1em 1em;
}

.page__hero--overlay .page__lead  {
  text-shadow: none;
  font-size: 1rem;
  max-width: 100%;
}

.page__hero--overlay .page__title  {
    font-size: 3rem;
    font-weight: normal;
    text-shadow: none;
}

.page__hero-flex-grid {
    justify-content: space-between;
    gap: 2em;
}

.page__hero-flex-grid-left {
    padding-top: 0em;
}

.page__hero-flex-grid-right {
    padding-left: 2em;
}

.page__hero-image {
  width: 60%;
  height: auto;
}

/* Call to action buttons */
.page__hero--overlay .btn {
    background-color: $primary-color;
    text-shadow: none;
    border-radius: 25px;
    border: none;
    color: #000;
    
    &:hover {
        background-color: darken($primary-color, 10%);
        text-shadow: none;
    }
} 


