.quote__wrapper {
  clear: both;
  margin-bottom: 2em;
  text-align: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
}

.quote__wrapper .quote__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.quote__wrapper .quote__item .author__avatar {
  margin-bottom: 1em;
  width: fit-content;
  height: fit-content;
  flex-basis: 100%;
  padding: 1rem;
}
