.section .content {
    padding: 0.5rem 0.5rem;
  }

.section--grey {
  background-color: #f0f0f0;
}

.section--blue {
  background-color: #6D9EEB; 
}

.section--yellow {
  background-color: #FFD966;
}

.section--red {
  background-color: #D09CB7;
}



