.section {
  padding: 1.5rem 1rem;
  background-color: #FEFEFE; 

  h2 {
    color: #3e4a59;
  }

  .content {
    padding: 0.5rem 0.5rem;
  }
  
  &--no-padding {
    padding: 0;
  }

  &--no-padding-bottom {
    padding-bottom: 0;
  }

  &--no-padding-top {
    padding-top: 0;
  }

  &--grey {
    background-color: #3e4a59;
    color: #FEFEFE;

    h2 {
        color: #FEFEFE;
    }
  }

  &--cyan {
    background-color: #34b3b1;
    color: #FEFEFE;

    h2 {
      color: #FEFEFE;
    }
  }

  &--azure {
    background-color: #e5fbff;
  }

  &--light-grey {
    background-color: #abadb0;
  }

  &--orange {
    background-color: #ef8e06;
    color: #FEFEFE;

    h2 {
      color: #FEFEFE;
    }

    .btn.btn--link {
      color: #FEFEFE;
      &:hover {
        color: #3e4a59;
      }
    }
  }

  &--meet-the-author img {
    border-radius: 50%;
  }

  .image-cta-wrapper {
    margin-top: 2rem;
    text-align: center;
  }
}

.section--text-two-col {
    .container {
        flex-direction: column;
        align-items: start;
    }

    @media (min-width: 768px) {
        .container {
            flex-direction: row;
        }
    }
}
